<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SF3hack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SF3hack.Properties.Settings>
            <setting name="Action" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Guard" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stand" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounterHit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stun" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAGauge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackData" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InputDisplay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LagSimulation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadStateOnPlayback" serializeAs="String">
                <value>False</value>
            </setting>
        </SF3hack.Properties.Settings>
    </userSettings>
</configuration>